<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Route Of All Evil</title>
</head>
<body>
    <div id="game-container" class="w-full h-screen bg-black">
        <div id="screen-home" class="">

        </div>
        <div id="screen-route">

        </div>
        <div id="screen-merchant">

        </div>
        <div id="screen-story">

        </div>
        <div id="screen-chest">

        </div>
        <div id="screen-combat">

        </div>
        <div id="screen-boss">

        </div>
        <div id="screen-orb">

        </div>
        <div id="screen-newitem">

        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/data_structures.js') }}"></script>
<script src="{{ url_for('static', filename='js/data_initializations.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_initializations.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>