<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Route Of All Evil</title>
</head>
<body>
    <div id="game-container" class="w-full h-screen bg-black">
        <div id="screen_loading" class="w-full h-full grid opacity-0 active_screen z-50">
            <div class="grid h-[50vh] m-auto">
                <h2 class="text-red-700 text-5xl m-auto">LOADING</h2>
                <div class="lds-ripple m-auto"><div></div><div></div></div>
            </div>
        </div>
        <div id="game_screen_container" class="opacity-0 grid">
            <div id="screen_home" class="opacity-0 inactive_screen">
                <div class="w-3/4 grid m-auto h-[80vh]">
                    <h2 class="text-red-700 m-auto text-center text-6xl md:text-8xl">ROUTE OF ALL EVIL</h2>
                    <div></div>
                    <div class="grid mb-0 overflow-hidden">
                        <h4 onclick="transition_screen(screen_home, screen_intro)" id="btn_home_start" class="text-red-700 m-auto text-center text-2xl md:text-4xl opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">START</h4>
                        <h4 onclick="transition_screen(screen_home, screen_tutorial)" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-2xl md:text-4xl opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">HOW TO PLAY</h4>
                        <h4 onclick="transition_screen(screen_home, screen_credits)" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-2xl md:text-4xl opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">CREDITS</h4>
                    </div>
                </div>
            </div>
            <div id="screen_intro" class="opacity-0 inactive_screen">
                <div class="m-auto w-5/6 max-w-[1024px] grid h-[90vh] md:h-[80vh]">
                    <p class="text-red-700 m-auto text-center justify-between text-xl md:text-3xl uppercase">Virtues such as life are unexplained; Pastimes akin to friendships are no longer practiced; Obtaining power over what we fear, while admirable, is without satisfaction; The reason to be is naught; hence, the route of all evil is paved in our own slaughter, and the root of all evil is truly omniscient</p>
                    <h4 onclick="create_routes();transition_screen(screen_intro, screen_route)" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-2xl md:text-4xl opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">CONTINUE</h4>
                </div>
            </div>
            <div id="screen_route" class="opacity-0 inactive_screen">
                <div class="h-[90vh] grid m-auto">
                    <h3 class="text-red-700 mx-auto my-auto text-center justify-between text-3xl md:text-5xl uppercase">Choose Your Route</h3>
                    <div class="grid m-auto md:grid-cols-3 gap-4 md:gap-8 w-full max-w-3xl">
                        <div onclick="select_route(this)" id="route_1_container" class="route_container grid gap-8 opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-105 xl:hover:cursor-pointer transition duration-100" data-routetype="filler">
                            <img id="route_1_image" src="/img/routes/filler.jpg" alt="" class="m-auto w-1/4 md:w-3/4 lg:w-full rounded">
                            <h4 id="route_1_button" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-xl md:text-4xl uppercase">Filler</h4>
                        </div>
                        <div onclick="select_route(this)" id="route_2_container" class="route_container grid gap-8 opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-105 xl:hover:cursor-pointer transition duration-100" data-routetype="filler">
                            <img id="route_2_image" src="/img/routes/filler.jpg" alt="" class="m-auto w-1/4 md:w-3/4 lg:w-full rounded">
                            <h4 id="route_2_button" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-xl md:text-4xl uppercase">Filler</h4>
                        </div>
                        <div onclick="select_route(this)" id="route_3_container" class="route_container grid gap-8 opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-105 xl:hover:cursor-pointer transition duration-100" data-routetype="filler">
                            <img id="route_3_image" src="/img/routes/filler.jpg" alt="" class="m-auto w-1/4 md:w-3/4 lg:w-full rounded">
                            <h4 id="route_3_button" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-xl md:text-4xl uppercase">Filler</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="screen_merchant" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_story" class="opacity-0 inactive_screen">
                <div class="h-[95vh] lg:h-[90vh] w-5/6 md:w-3/4 xl:w-1/2 grid m-auto">
                    <img id="story_image" src="/img/routes/filler.jpg" alt="" class="m-auto w-1/2 max-w-[300px] rounded">
                    <h3 id="story_title" class="text-red-700 mx-auto my-auto text-center justify-between text-2xl md:text-5xl uppercase">Filler</h3>
                    <p id="story_text" class="text-red-700 m-auto text-center justify-between uppercase md:text-2xl">
                        Virtues such as life are unexplained; Pastimes akin to friendships are no longer practiced; Obtaining power over what we fear, while admirable, is without satisfaction; The reason to be is naught; hence, the route of all evil is paved in our own slaughter, and the root of all evil is truly omniscient
                    </p>
                    <div class="grid grid-cols-2">
                        <h3 id="story_choice_1" onclick="event_choice(1);transition_screen(screen_story, screen_storyresult);" class="text-red-700 ml-0 my-auto text-center justify-between text-2xl md:text-4xl uppercase opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">
                            Attempt to help her
                        </h3>
                        <h3 id="story_choice_2" onclick="event_choice(2);transition_screen(screen_story, screen_storyresult);" class="text-red-700 mr-0 my-auto text-center justify-between text-2xl md:text-4xl uppercase opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">
                            This looks too suspicious
                        </h3>
                    </div>
                </div>
            </div>
            <div id="screen_storyresult" class="opacity-0 inactive_screen">
                <div class="h-[95vh] lg:h-[90vh] w-5/6 md:w-3/4 xl:w-1/2 grid m-auto">
                    <img id="storyresult_image" src="/img/routes/filler.jpg" alt="" class="m-auto w-1/2 max-w-[300px] rounded">

                    <h3 id="storyresult_title" class="text-red-700 mx-auto my-auto text-center justify-between text-2xl md:text-5xl uppercase">Filler</h3>

                    <p id="storyresult_text" class="text-red-700 m-auto text-center justify-between uppercase md:text-2xl">
                        Virtues such as life are unexplained; Pastimes akin to friendships are no longer practiced; Obtaining power over what we fear, while admirable, is without satisfaction; The reason to be is naught; hence, the route of all evil is paved in our own slaughter, and the root of all evil is truly omniscient
                    </p>

                    <div class="grid">
                        <h3 id="storyresult_continue" onclick="create_routes();transition_screen(screen_storyresult, screen_route)" class="text-red-700 mr-0 my-auto text-center justify-between text-2xl md:text-4xl uppercase opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">
                            Continue
                        </h3>
                    </div>
                </div>
            </div>
            <div id="screen_chest" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_combat" class="opacity-0 inactive_screen">
                <div class="grid h-[90vh] grid-rows-4 w-5/6 xl:w-3/4 max-w-xl m-auto">
                    <div class="grid grid-rows-4 row-span-3">
                        <div id="combat_enemy_health_bar" class="w-full border-2 border-red-700 m-auto h-[2vh] row-span-1">
                            <div id="combat_enemy_health_fill" class="h-full transition duration-100 ease-in-out bg-red-400" style="width: 100%;"></div>
                        </div>
                        <div class="grid grid-cols-3 row-span-3">
                            <div></div>
                            <img id="combat_enemy_image" class="m-auto w-full rounded" src="/img/routes/filler.jpg" alt="">
                            <div></div>
                        </div>
                    </div>

                    <div class="grid grid-cols-2">
                        <div class="grid w-3/4 max-w-sm m-auto">
                            <div class="grid grid-cols-2">
                                <p class="text-red-700 mx-auto my-auto text-center justify-between text-xl md:text-3xl uppercase">HP: </p>
                                <p class="text-white mx-auto my-auto text-center justify-between text-xl md:text-3xl uppercase" id="combat_player_hp">10/23</p>
                            </div>
                            <div class="grid grid-cols-2">
                                <p class="text-red-700 mx-auto my-auto text-center justify-between text-xl md:text-3xl uppercase">ATK: </p>
                                <p class="text-white mx-auto my-auto text-center justify-between text-xl md:text-3xl uppercase" id="combat_player_atk">15</p>
                            </div>
                            <div class="grid grid-cols-2">
                                <p class="text-red-700 mx-auto my-auto text-center justify-between text-xl md:text-3xl uppercase">DEF: </p>
                                <p class="text-white mx-auto my-auto text-center justify-between text-xl md:text-3xl uppercase" id="combat_player_def">15</p>
                            </div>
                        </div>
                        <div class="grid m-auto gap-4 lg:grid-cols-2">
                            <h3 id="storyresult_continue" onclick="" class="text-red-700 mr-0 my-auto text-center justify-between text-2xl md:text-4xl uppercase opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">
                                Attack
                            </h3>
                            <h3 id="storyresult_continue" onclick="" class="text-red-700 mr-0 my-auto text-center justify-between text-2xl md:text-4xl uppercase opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">
                                Details
                            </h3>
                            <h3 id="storyresult_continue" onclick="" class="text-red-700 mr-0 my-auto text-center justify-between text-2xl md:text-4xl uppercase opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">
                                Run
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="screen_combatresult" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_boss" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_bossresult" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_orb" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_newitem" class="opacity-0 inactive_screen">
    
            </div>
            <div id="screen_credits" class="opacity-0 inactive_screen">
                <div class="grid h-[70vh] m-auto">
                    <div class="grid my-10">
                        <p class="text-red-700 m-auto text-center justify-between text-xl md:text-3xl xl:text-4xl uppercase">
                            Programming: Tyler Johnson
                        </p>
                        <p class="text-red-700 m-auto text-center justify-between text-xl md:text-3xl xl:text-4xl uppercase">
                            Music/SFX: Tyler Johnson
                        </p>
                        <p class="text-red-700 m-auto text-center justify-between text-xl md:text-3xl xl:text-4xl uppercase">
                            Artwork: Stable Diffusion
                        </p>
                    </div>
                    
                    <h4 onclick="transition_screen(screen_credits, screen_home)" id="btn_home_tutorial" class="text-red-700 m-auto text-center text-2xl md:text-4xl opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">RETURN</h4>
                </div>
            </div>
            <div id="screen_tutorial" class="opacity-0 inactive_screen">
                <div class="grid h-[95vh] mt-[2vh]">
                    <div class="grid w-5/6 max-w-[1024px] h-[75vh] gap-8 m-auto overflow-y-scroll md:overflow-auto xl:my-auto">
                        <p class="text-red-700 m-auto text-center justify-between text-2xl uppercase">
                            Welcome to the world of S'nhilla, a world tarnished by evil and hatred for all things mortal. You are one of the few sentient beings left, and with vengeance in your heart, you have one goal in mind: obtain the root of all evil. Only after you achieve this will your family tree be satiated and you can claim your rightful place in this horrific world.</p>
                        <p class="text-red-700 m-auto text-center justify-between text-2xl uppercase">
                            Select your route by clicking on the path that you would like to take. Choose wisely depending on what you need and what you can handle. From there, either collect magical artifacts, fight unspeakable horrors, or interact with the world with intelect and cunning character.
                        </p>
                        <p class="text-red-700 m-auto text-center justify-between text-2xl uppercase">
                            When you have defeated 5 bosses, you will have finally mapped the route of all evil. If you die though, don't worry, your family tree will be extended with your spiritual ressurection as the root, equipped with a special item you have acquired in your past live's journies.
                        </p>
                        <p class="text-red-700 m-auto text-center justify-between text-2xl uppercase">
                            Best of luck.
                        </p>
                    </div>
                    <div class="grid m-auto">
                        <h4 onclick="transition_screen(screen_tutorial, screen_home)" id="btn_home_start" class="text-red-700 m-auto text-center text-2xl md:text-4xl opacity:100 xl:opacity-75 xl:hover:opacity-100 xl:hover:scale-110 xl:hover:cursor-pointer transition duration-100">RETURN</h4>
                    </div>
                </div>
                
            </div>
            <div id="screen_gameover" class="opacity-0 inactive_screen">

            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/data_structures.js') }}"></script>
<script src="{{ url_for('static', filename='js/data_initializations.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_initializations.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_ui_functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>